/**
 *  Ad hoc Modifications to Bootstrap 
 * 
 *  Author: Patrice Lopez        
 */


.label {
    padding: 1px 3px 2px;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #87A1A8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label.location {
    background-color: #398739;
}
.label.person {
    background-color: #c43c35;
}
.label.period {
    background-color: #f89406;
}
.label.event {
    background-color: #01A9DB;
}
.label.national {
    background-color: #8904B1;
}
.label.measure {
    background-color: #c43c35;
}
.label.acronym {
    background-color: #c43c35;
}
.label.institution {
    background-color: #c43c35;
}
.label.sense {
    background-color: #87A1A8;
}


.label.biology {
    background-color: #398739;
}
.label.chemistry {
    background-color: #c43c35;
}
.label.food {
    background-color: #398739;
}
.label.medicine {
    background-color: #f89406;
}
.label.anatomy {
    background-color: #f89406;
}
.label.engineering {
    background-color: #01A9DB;
}
.label.animals {
    background-color: #8904B1;
}
.label.plants {
    background-color: #c43c35;
}
.label.earth {
    background-color: #c43c35;
}
.label.mathematics {
    background-color: #c43c35;
}
.label.physics {
    background-color: #87A1A8;
}
.label.architecture {
    background-color: #A901DB;
}
.label.astronautics {
    background-color: #87A1A8;
}
.label.telecommunication {
    background-color: #5C460C;
}
.label.computer_science {
    background-color: #04B4AE;
}
.label.environment {
    background-color: #31B404;
}


.label.pubtype {
    background-color: #d9534f;
    font-size: 8px;
}

/* specific additions for the example index page */
.nav-logo img {
    margin-top: 4px;
}

h4 {
    line-height: 28px;
    margin-bottom: 10px;
}

/*  For Code Snippets
        ============================================ */

code, pre, pre.prettyprint {
    background-color: #fee9cc;
}
pre, pre.prettyprint {
    padding: 16px 20px;
    margin: 10px 0;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    border-radius: 6px;
    max-width: 100%;
}

.alert pre {
    text-shadow: none;
}

/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
    .str { color: #080 }  /* string content */
    .kwd { color: #008 }  /* a keyword */
    .com { color: #800 }  /* a comment */
    .typ { color: #606 }  /* a type name */
    .lit { color: #066 }  /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun, .opn, .clo { color: #660 }
    .tag { color: #008 }  /* a markup tag name */
    .atn { color: #606 }  /* a markup attribute name */
    .atv { color: #080 }  /* a markup attribute value */
    .dec, .var { color: #606 }  /* a declaration; a variable name */
    .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
    .str { color: #060 }
    .kwd { color: #006; font-weight: bold }
    .com { color: #600; font-style: italic }
    .typ { color: #404; font-weight: bold }
    .lit { color: #044 }
    .pun, .opn, .clo { color: #440 }
    .tag { color: #006; font-weight: bold }
    .atn { color: #404 }
    .atv { color: #060 }
}

/*a:focus{outline:thin dotted #BC0E0E;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;color:#BC0E0E;}
a{color:#767676;text-decoration:none;}                
a:hover{color:#BC0E0E;text-decoration:underline;}*/

h3{ color:#70695C; }

a.section-not-active { color: #848484; }
a.section-active { color: #BC0E0E; }
span.section-not-active { color: #848484; }
span.section-active { color: #BC0E0E; }

.info-sense-box,.details-list {
    margin:1px 1;padding:5px 2px 3px 2px;border:1px solid #87A1A8;background-color:#87A1A8;border-radius:5px;
    font-size:14px;
}

.info-sense-box.location {
    background-color: #398739;
}
.info-sense-box.person {
    background-color: #c43c35;
}
.info-sense-box.period {
    background-color: #f89406;
}
.info-sense-box.event {
    background-color: #01A9DB;
}
.info-sense-box.national {
    background-color: #8904B1;
}
.info-sense-box.measure {
    background-color: #c43c35;
}
.info-sense-box.acronym {
    background-color: #c43c35;
}
.info-sense-box.institution {
    background-color: #c43c35;
}
.info-sense-box.sense {
    background-color: #87A1A8;
}


/* Mini layout previews
-------------------------------------------------- */
.mini-layout {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.075);
    -moz-box-shadow: 0 0px 0px rgba(0,0,0,.075);
    box-shadow: 0 0px 0px rgba(0,0,0,.075);
}
/*.mini-layout,
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
  height: 300px;
}*/
.mini-layout {
    margin-bottom: 20px;
    padding: 9px;
}
.mini-layout div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mini-layout .mini-layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 70%;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
    float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
    background-color: #bbd8e9;
    width: 20%;
}
.mini-layout.fluid .mini-layout-body {
    width: 77.5%;
    margin-left: 2.5%;
}

.btn-info{background-color:#FE9A2E;background-image:-moz-linear-gradient(top, #FE9A2E, #FE9A2E);background-image:-ms-linear-gradient(top, #FE9A2E, #FE9A2E);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#FE9A2E), to(#FE9A2E));background-image:-webkit-linear-gradient(top, #FE9A2E, #FE9A2E);background-image:-o-linear-gradient(top, #FE9A2E, #FE9A2E);background-image:linear-gradient(top, #FE9A2E, #FE9A2E);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#87A1A8', endColorstr='#87A1A8', GradientType=0);border-color:#FE9A2E #FE9A2E #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{background-color:#FE9A2E;border-color:firebrick;}
.btn-info:active,.btn-info.active{background-color:#FE9A2E;}

.btn-warning{background-color:#FE9A2E;background-image:-moz-linear-gradient(top, #FE9A2E, #FE9A2E);background-image:-ms-linear-gradient(top, #FE9A2E, #FE9A2E);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#FE9A2E), to(#FE9A2E));background-image:-webkit-linear-gradient(top, #FE9A2E, #FE9A2E);background-image:-o-linear-gradient(top, #FE9A2E, #FE9A2E);background-image:linear-gradient(top, #FE9A2E, #FE9A2E);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#87A1A8', endColorstr='#87A1A8', GradientType=0);border-color:#FE9A2E #FE9A2E #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{background-color:#FE9A2E;border-color:firebrick;}
.btn-warning:active,.btn-warning.active{background-color:#FE9A2E;}

.popover[data-color=location] .popover-title {
    background-color: #398739; color: white;
}

.popover[data-color=person] .popover-title {
    background-color: #c43c35; color: white;
}

.popover[data-color=period] .popover-title {
    background-color: #f89406; color: white;
}

.popover[data-color=event] .popover-title {
    background-color: #01A9DB; color: white;
}

.popover[data-color=national] .popover-title {
    background-color: #8904B1; color: white;
}

.popover[data-color=measure] .popover-title {
    background-color: #c43c35; color: white;
}

.popover[data-color=acronym] .popover-title {
    background-color: #c43c35; color: white;
}

.popover[data-color=institution] .popover-title {
    background-color: #c43c35; color: white;
}

.popover-title {
    background-color: #585858; color: white;
}

.popover-content{
    width:400px;  
}

.popover{
    max-width: inherit;
    max-height: inherit;
}

/* DOMAINS */
.info-sense-box.biology {
    background-color: #398739;
}
.info-sense-box.chemistry {
    background-color: #c43c35;
}
.info-sense-box.food {
    background-color: #398739;
}
.info-sense-box.medicine {
    background-color: #f89406;
}
.info-sense-box.anatomy {
    background-color: #f89406;
}
.info-sense-box.engineering {
    background-color: #01A9DB;
}
.info-sense-box.animals {
    background-color: #8904B1;
}
.info-sense-box.plants {
    background-color: #c43c35;
}
.info-sense-box.earth {
    background-color: #c43c35;
}
.info-sense-box.mathematics {
    background-color: #c43c35;
}
.info-sense-box.physics {
    background-color: #87A1A8;
}
.info-sense-box.architecture {
    background-color: #A901DB;
}
.info-sense-box.astronautics {
    background-color: #87A1A8;
}
.info-sense-box.telecommunication {
    background-color: #5C460C;
}
.info-sense-box.computer_science {
    background-color: #04B4AE;
}
.info-sense-box.environment {
    background-color: #31B404;
}


/* red: #BC0E0E */
/* orange #FFAA00 */
/* the cendari grey blue: #87A1A8 */

