
/*
 * Full-page application style
 */

div.application,
.keen-dashboard {
  background: #f2f2f2;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 60px 20px 0;
}

div.application > .container-fluid,
.keen-dashboard > .container-fluid {
  margin: 0 0 32px;
  margin: 0 0 2rem;
  padding-left: 0;
  padding-right: 0;
}

div[class^="col-"],
.keen-dashboard div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

div.application div[class^="col-"] div[class^="col-"],
.keen-dashboard div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

div.application hr,
.keen-dashboard hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

div.application .navbar-inverse,
.keen-dashboard .navbar-inverse {
/*  background-color: #3d4a57;*/
  border-color: #333;
}

div.application .navbar-inverse .navbar-nav > li > a,
div.application .navbar .navbar-brand,
.keen-dashboard .navbar-inverse .navbar-nav > li > a,
.keen-dashboard .navbar .navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

div.application .main-nav > li > a:hover,
.keen-dashboard .main-nav > li > a:hover {
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  border-bottom-color: white;
}

div.application .return-link,
div.application .return-link:focus,
div.application .return-link:hover,
.keen-dashboard .return-link,
.keen-dashboard .return-link:focus,
.keen-dashboard .return-link:hover {
  text-decoration: none;
}


.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 0.8px;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
}

.area {
  fill: lightsteelblue;
}